.App {
  text-align: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}
